# Bytecode de Python
*.pyc
*.pyo
__pycache__/

# Arquivos de configuração do ambiente virtual
venv/
env/
.venv/

# Arquivos de configuração do editor de código (ex: VSCode, Sublime, etc)
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Arquivos de log
*.log

# Arquivos temporários criados por editores de texto (ex: vim, emacs)
*~
*.swp
*.swo
*.bak

# Arquivos de dependências Python
*.egg-info/
.eggs/
dist/
build/

# Arquivos de banco de dados SQLite (se estiver usando SQLite)
*.db
*.sqlite3

# Arquivos do Jupyter Notebook (se houver notebooks)
.ipynb_checkpoints/

# Arquivos de configuração do Flask (caso haja)
instance/
.webassets-cache/

# Arquivos do sistema (ex: MacOS, Windows)
.DS_Store
Thumbs.db